<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/Cssbase.css">


</head>
<body >
    <div  class="container  shadow p-3  bg-white rounded achicadorcompulsivo alineadorgeneral">
       
            <p class="h2 margenes alineadordetexto">Ingrese los datos del estacionamiento</p>
        
    <form action="/estacionamiento/registrar" method="POST">
        <div class="mb-3 flexeador">
            <div class="corregidordelabels">
                <label for="exampleInputEmail1" class="form-label">Direccion</label>
            </div>
         <div class="corregidordeinput">
             <input type="text" class="form-control" name="direccion">
        </div>
          
        </div>
        <div class="mb-3 flexeador">
            <div class="corregidordelabels">
                <label for="exampleInputPassword1" class="form-label">Disponibilidad</label>
            </div>
         <div class="corregidordeinput">
            <input type="number" class="form-control" name="lugares">
        </div>
          
        </div>
        
        <div class="alineadordebotones bajador">
        <button type="submit" class="btn btn-dark">Aceptar</button>
        </div>
      </form>
    </div>
</body>
</html>