<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/Cssbaseindex.css">
    <title>Index</title>
</head>
<body>
    <div class="fondo ">

       
           <div class="">
             <p class="asd"></p>
           </div>
     
        
    </div>
    

    <div class="flexeador paddiadorserial">
        <div class="card shadow p-3 mb-5 bg-white rounded " style="width: 18rem; height: 14rem;">
            
            <div class="card-body cartatamaño">
              <h5 class="card-title alineadordetextos">Egreso</h5>
              <p class="card-text alineadordetextos">Nos comprometimos a cumplir con el registro de egresos</p>
              <div class="alineadordebotones">
                <a class="btn btn-dark locuras" href="/regegreso">Registrar egreso</a>
              </div>
              
            </div>
          </div>



          <div class="card shadow p-3 mb-5 bg-white rounded " style="width: 18rem;">
            
            <div class="card-body ">
              <h5 class="card-title alineadordetextos">Registrarse</h5>
              <p class="card-text alineadordetextos">Y tambien nos comprometimos a agregar estacionamiento </p>
              <div class="alineadordebotones">
                <a class="btn btn-dark locuras" href="/signup">Registrarse</a>
              </div>
              
            </div>
          </div>
          <div class="card shadow p-3 mb-5 bg-white rounded " style="width: 18rem;">
            
            <div class="card-body">
              <h5 class="card-title alineadordetextos">Loguearse</h5>
              <p class="card-text alineadordetextos">Y por si fuera poco tambien hicimos ingresos.</p>
              <div class="alineadordebotones">
                <a class="btn btn-dark locuras" href="/login">Loguearse</a>
              </div>
              
            </div>
          </div>

    </div>
    <div class="container">
        <span class="text-muted">Desarrollado por los pibes.</span>
      </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>