.centradormaximo{
    display: flex;
    justify-items: center;
    justify-content: center;
    height: 100vh;
    
}


.panelderecha{
   display: flex;
   flex-direction: column;
   justify-content:space-between    ;
   padding: 13px;
   
    
}
.interiorderecha{
    height: 100%;
    display: flex;
   flex-direction: column;
   justify-content:space-evenly ;
}
.panelizquierda{
    background: url(fondoa.jpg) no-repeat center center/cover ;   
    background-position: center;
    opacity: 1;
    padding: 3px;
}

.centradormargenes{
   margin-top: auto;
   margin-bottom: auto;
}

body{
    background-color: whitesmoke;
}

.contenedor{
    width: 70%;
    height: 80%;
}
.interiores{
    height: 100%;
    width: 50%;
}
.alejarboton{
    padding-top: 10px;
}

.divisornombreinput{
    
display: flex;
margin-top: 10px;
}

.nombre{
    width: 100px;
}

.inputhastaelfinal{
    display: flex;
    width: 100%;
    justify-content: right;
    
}
